<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="suspension_beam">

<!-- GEOMETRY -->
    <xacro:macro name="suspension_beam_geometry">
        <origin rpy="1.57075 0 0" xyz="0 0 0"/>
        <geometry>
            <cylinder length="${suspension_beam_length}" radius="${suspension_beam_radius}"/>
        </geometry>
    </xacro:macro>

<!-- MATERIAL -->
    <xacro:macro name="suspension_beam_material">
        <material name="light_green">
            <color rgba=".6 .9 .6 1"/>
        </material>
    </xacro:macro>

<!-- LINK -->
    <xacro:macro name="suspension_beam" params="name">

    <!-- DUMMY LINK -->
        <link name="base_link">
        </link>
        <joint name="base_jonit" type="fixed">
            <parent link="base_link"/>
            <child link="${name}"/>
        </joint>

    <!-- MAIN LINK -->
        <link name="${name}">
            <visual>
                <xacro:suspension_beam_geometry/>
                <xacro:suspension_beam_material/>
            </visual>
            <collision>
                <xacro:suspension_beam_geometry/>
            </collision>
            <inertial>
                <mass value="3"/>
                <inertia ixx="0.005" ixy="0" ixz="0" iyy="0.005" iyz="0" izz="0.005"/>
            </inertial>
        </link>

        <gazebo reference="base_link">
            <mu1> .2 </mu1>
            <mu2> .2 </mu2>
            <material> Gazebo/Wh </material>
            <selfCollide> True </selfCollide>
        </gazebo>


    </xacro:macro>

</robot>
