<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="stone3">



    <link name="base_link">
        <visual>
            <geometry>
                <mesh filename="package://rover_meshes/stones/stone3.stl" scale=".05 .05 .05"/>
            </geometry>
        </visual>

        <collision>
            <geometry>
                <mesh filename="package://rover_meshes/stones/stone3.stl" scale=".05 .05 .05"/>
            </geometry>
        </collision>

        <inertial>
            <mass value=".1"/>
            <inertia ixx=".0003" ixy="0.000" ixz="0.000" iyy=".0003" iyz="0.000" izz=".0003"/>
        </inertial>
    </link>

    <gazebo reference="base_link">
        <mu1> 1 </mu1>
        <mu2> 1 </mu2>
        <material> Gazebo/Red </material>
        <selfCollide> False </selfCollide>
    </gazebo>

</robot>
