<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="diff_link_1">


<!-- GEOMETRY -->
    <xacro:macro name="diff_link_1_geometry">
        <geometry>
            <cylinder length="${diff_link_1_lenght}" radius="${diff_link_1_radius}"/>
        </geometry>
    </xacro:macro>

<!-- MATERIAL -->
    <xacro:macro name="diff_link_1_material">
        <material name="green2">
            <color rgba=".3 .7 .3 1"/>
        </material>
    </xacro:macro>

<!-- LINK -->
    <xacro:macro name="diff_link_1" params="name parent x y z">
        <link name="${name}">
            <visual>
                <xacro:diff_link_1_geometry/>
                <xacro:diff_link_1_material/>
            </visual>
            <collision>
                <xacro:diff_link_1_geometry/>
            </collision>
            <inertial>
                <mass value=".3"/>
                <inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.01"/>
            </inertial>
        </link>

            <joint name="${name}_joint" type="fixed">
                <parent link="${parent}"/>
                <child link="${name}"/>
                <origin rpy="1.57075  0 0" xyz="${x} ${y} ${z}"/>
            </joint>

            <gazebo reference="${name}">
                <mu1> .2 </mu1>
                <mu2> .2 </mu2>
                <material> Gazebo/Gray </material>
                <selfCollide> true </selfCollide>
            </gazebo>

    </xacro:macro>

</robot>
