<launch>
    <node
        name="gazebo_wheel_controller"
        pkg="rover_simulation"
        type="gazebo_wheel_controller"
        output="screen"
    />

    <node
        name="web_video_server"
        pkg="web_video_server"
        type="web_video_server"
        output="screen"
    />

    <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch"/>

</launch>
