<launch>
    <node name="video_subscriber_1" pkg="video_stream" type="video_subscriber" output="screen">
        <remap from="/camera/image" to="/rover/camera1/image_raw"/>
    </node>

    <node name="video_subscriber_2" pkg="video_stream" type="video_subscriber" output="screen">
        <remap from="/camera/image" to="/rover/camera2/image_raw"/>
    </node>

    <node name="video_subscriber_3" pkg="video_stream" type="video_subscriber" output="screen">
        <remap from="/camera/image" to="/rover/camera3/image_raw"/>
    </node>

    <node name="video_subscriber_4" pkg="video_stream" type="video_subscriber" output="screen">
        <remap from="/camera/image" to="/rover/camera4/image_raw"/>
    </node>

    <node name="video_subscriber_5" pkg="video_stream" type="video_subscriber" output="screen">
        <remap from="/camera/image" to="/rover/camera5/image_raw"/>
    </node>

    <node name="disparity_image_view" pkg="image_view" type="disparity_view">
        <remap from="/image" to="/rover/disparity"/>
    </node>

</launch>
