<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="rover">

    <gazebo>
        <plugin name="gazebo_ros_control" filename="libgazebo_ros_pkgs.so">
            <robotNamespace>rover</robotNamespace>
        </plugin>
    </gazebo>

    <xacro:include filename="rocker-bogie/__rocker-bogie.xacro"/>
    <xacro:include filename="base/__base.xacro"/>
    <xacro:include filename="arm/__arm.xacro"/>

</robot>
