<launch>
    <param
        name="stone_0_description"
        command="$(find xacro)/xacro --inorder $(find rover_meshes)/xacro/stone0.xacro"
    />

    <param
        name="stone_1_description"
        command="$(find xacro)/xacro --inorder $(find rover_meshes)/xacro/stone1.xacro"
    />

    <param
        name="stone_2_description"
        command="$(find xacro)/xacro --inorder $(find rover_meshes)/xacro/stone2.xacro"
    />

    <param
        name="stone_3_description"
        command="$(find xacro)/xacro --inorder $(find rover_meshes)/xacro/stone3.xacro"
    />

    <param
        name="stone_4_description"
        command="$(find xacro)/xacro --inorder $(find rover_meshes)/xacro/stone4.xacro"
    />

    <node
        name="spawn_urdf_0_0"
        pkg="gazebo_ros"
        type="spawn_model"
        args="-param stone_0_description -urdf -model stone_0_0 -x 15 -y -43 -z 11"
    />

    <node
        name="spawn_urdf_0_1"
        pkg="gazebo_ros"
        type="spawn_model"
        args="-param stone_0_description -urdf -model stone_0_1 -x -45 -y -48 -z 11"
    />

    <node
        name="spawn_urdf_0_2"
        pkg="gazebo_ros"
        type="spawn_model"
        args="-param stone_0_description -urdf -model stone_0_2 -x 20 -y 16 -z 11"
    />

    <node
        name="spawn_urdf_0_3"
        pkg="gazebo_ros"
        type="spawn_model"
        args="-param stone_0_description -urdf -model stone_0_3 -x 7 -y 45 -z 11"
    />

    <node
        name="spawn_urdf_0_4"
        pkg="gazebo_ros"
        type="spawn_model"
        args="-param stone_0_description -urdf -model stone_0_4 -x -1 -y 8 -z 11"
    />

    <node
        name="spawn_urdf_0_5"
        pkg="gazebo_ros"
        type="spawn_model"
        args="-param stone_0_description -urdf -model stone_0_5 -x 30 -y -26 -z 11"
    />

    <node
        name="spawn_urdf_0_6"
        pkg="gazebo_ros"
        type="spawn_model"
        args="-param stone_0_description -urdf -model stone_0_6 -x 2 -y -4 -z 11"
    />

    <node
        name="spawn_urdf_0_7"
        pkg="gazebo_ros"
        type="spawn_model"
        args="-param stone_0_description -urdf -model stone_0_7 -x 13 -y 45 -z 11"
    />

    <node
        name="spawn_urdf_0_8"
        pkg="gazebo_ros"
        type="spawn_model"
        args="-param stone_0_description -urdf -model stone_0_8 -x -9 -y -19 -z 11"
    />

    <node
        name="spawn_urdf_0_9"
        pkg="gazebo_ros"
        type="spawn_model"
        args="-param stone_0_description -urdf -model stone_0_9 -x 43 -y -4 -z 11"
    />

    <node
        name="spawn_urdf_1_0"
        pkg="gazebo_ros"
        type="spawn_model"
        args="-param stone_1_description -urdf -model stone_1_0 -x -31 -y -40 -z 11"
    />

    <node
        name="spawn_urdf_1_1"
        pkg="gazebo_ros"
        type="spawn_model"
        args="-param stone_1_description -urdf -model stone_1_1 -x 47 -y -34 -z 11"
    />

    <node
        name="spawn_urdf_1_2"
        pkg="gazebo_ros"
        type="spawn_model"
        args="-param stone_1_description -urdf -model stone_1_2 -x 4 -y 2 -z 11"
    />

    <node
        name="spawn_urdf_1_3"
        pkg="gazebo_ros"
        type="spawn_model"
        args="-param stone_1_description -urdf -model stone_1_3 -x -9 -y -38 -z 11"
    />

    <node
        name="spawn_urdf_1_4"
        pkg="gazebo_ros"
        type="spawn_model"
        args="-param stone_1_description -urdf -model stone_1_4 -x -9 -y -20 -z 11"
    />

    <node
        name="spawn_urdf_1_5"
        pkg="gazebo_ros"
        type="spawn_model"
        args="-param stone_1_description -urdf -model stone_1_5 -x 40 -y 37 -z 11"
    />

    <node
        name="spawn_urdf_1_6"
        pkg="gazebo_ros"
        type="spawn_model"
        args="-param stone_1_description -urdf -model stone_1_6 -x 39 -y 8 -z 11"
    />

    <node
        name="spawn_urdf_1_7"
        pkg="gazebo_ros"
        type="spawn_model"
        args="-param stone_1_description -urdf -model stone_1_7 -x 27 -y 45 -z 11"
    />

    <node
        name="spawn_urdf_1_8"
        pkg="gazebo_ros"
        type="spawn_model"
        args="-param stone_1_description -urdf -model stone_1_8 -x 41 -y -39 -z 11"
    />

    <node
        name="spawn_urdf_1_9"
        pkg="gazebo_ros"
        type="spawn_model"
        args="-param stone_1_description -urdf -model stone_1_9 -x -29 -y -16 -z 11"
    />

    <node
        name="spawn_urdf_2_0"
        pkg="gazebo_ros"
        type="spawn_model"
        args="-param stone_2_description -urdf -model stone_2_0 -x -40 -y 42 -z 11"
    />

    <node
        name="spawn_urdf_2_1"
        pkg="gazebo_ros"
        type="spawn_model"
        args="-param stone_2_description -urdf -model stone_2_1 -x 40 -y -48 -z 11"
    />

    <node
        name="spawn_urdf_2_2"
        pkg="gazebo_ros"
        type="spawn_model"
        args="-param stone_2_description -urdf -model stone_2_2 -x -1 -y 12 -z 11"
    />

    <node
        name="spawn_urdf_2_3"
        pkg="gazebo_ros"
        type="spawn_model"
        args="-param stone_2_description -urdf -model stone_2_3 -x -5 -y 4 -z 11"
    />

    <node
        name="spawn_urdf_2_4"
        pkg="gazebo_ros"
        type="spawn_model"
        args="-param stone_2_description -urdf -model stone_2_4 -x 2 -y -7 -z 11"
    />

    <node
        name="spawn_urdf_2_5"
        pkg="gazebo_ros"
        type="spawn_model"
        args="-param stone_2_description -urdf -model stone_2_5 -x 3 -y 40 -z 11"
    />

    <node
        name="spawn_urdf_2_6"
        pkg="gazebo_ros"
        type="spawn_model"
        args="-param stone_2_description -urdf -model stone_2_6 -x 8 -y 22 -z 11"
    />

    <node
        name="spawn_urdf_2_7"
        pkg="gazebo_ros"
        type="spawn_model"
        args="-param stone_2_description -urdf -model stone_2_7 -x -26 -y 0 -z 11"
    />

    <node
        name="spawn_urdf_2_8"
        pkg="gazebo_ros"
        type="spawn_model"
        args="-param stone_2_description -urdf -model stone_2_8 -x -36 -y -38 -z 11"
    />

    <node
        name="spawn_urdf_2_9"
        pkg="gazebo_ros"
        type="spawn_model"
        args="-param stone_2_description -urdf -model stone_2_9 -x -7 -y 15 -z 11"
    />

    <node
        name="spawn_urdf_3_0"
        pkg="gazebo_ros"
        type="spawn_model"
        args="-param stone_3_description -urdf -model stone_3_0 -x 2 -y -43 -z 11"
    />

    <node
        name="spawn_urdf_3_1"
        pkg="gazebo_ros"
        type="spawn_model"
        args="-param stone_3_description -urdf -model stone_3_1 -x -32 -y -17 -z 11"
    />

    <node
        name="spawn_urdf_3_2"
        pkg="gazebo_ros"
        type="spawn_model"
        args="-param stone_3_description -urdf -model stone_3_2 -x -22 -y 43 -z 11"
    />

    <node
        name="spawn_urdf_3_3"
        pkg="gazebo_ros"
        type="spawn_model"
        args="-param stone_3_description -urdf -model stone_3_3 -x 6 -y 45 -z 11"
    />

    <node
        name="spawn_urdf_3_4"
        pkg="gazebo_ros"
        type="spawn_model"
        args="-param stone_3_description -urdf -model stone_3_4 -x 31 -y 21 -z 11"
    />

    <node
        name="spawn_urdf_3_5"
        pkg="gazebo_ros"
        type="spawn_model"
        args="-param stone_3_description -urdf -model stone_3_5 -x 14 -y 27 -z 11"
    />

    <node
        name="spawn_urdf_3_6"
        pkg="gazebo_ros"
        type="spawn_model"
        args="-param stone_3_description -urdf -model stone_3_6 -x 29 -y -7 -z 11"
    />

    <node
        name="spawn_urdf_3_7"
        pkg="gazebo_ros"
        type="spawn_model"
        args="-param stone_3_description -urdf -model stone_3_7 -x -45 -y 4 -z 11"
    />

    <node
        name="spawn_urdf_3_8"
        pkg="gazebo_ros"
        type="spawn_model"
        args="-param stone_3_description -urdf -model stone_3_8 -x 10 -y -21 -z 11"
    />

    <node
        name="spawn_urdf_3_9"
        pkg="gazebo_ros"
        type="spawn_model"
        args="-param stone_3_description -urdf -model stone_3_9 -x 22 -y -48 -z 11"
    />

    <node
        name="spawn_urdf_4_0"
        pkg="gazebo_ros"
        type="spawn_model"
        args="-param stone_4_description -urdf -model stone_4_0 -x -6 -y -37 -z 11"
    />

    <node
        name="spawn_urdf_4_1"
        pkg="gazebo_ros"
        type="spawn_model"
        args="-param stone_4_description -urdf -model stone_4_1 -x 35 -y 27 -z 11"
    />

    <node
        name="spawn_urdf_4_2"
        pkg="gazebo_ros"
        type="spawn_model"
        args="-param stone_4_description -urdf -model stone_4_2 -x 29 -y -47 -z 11"
    />

    <node
        name="spawn_urdf_4_3"
        pkg="gazebo_ros"
        type="spawn_model"
        args="-param stone_4_description -urdf -model stone_4_3 -x -35 -y 11 -z 11"
    />

    <node
        name="spawn_urdf_4_4"
        pkg="gazebo_ros"
        type="spawn_model"
        args="-param stone_4_description -urdf -model stone_4_4 -x -24 -y 43 -z 11"
    />

    <node
        name="spawn_urdf_4_5"
        pkg="gazebo_ros"
        type="spawn_model"
        args="-param stone_4_description -urdf -model stone_4_5 -x 3 -y -40 -z 11"
    />

    <node
        name="spawn_urdf_4_6"
        pkg="gazebo_ros"
        type="spawn_model"
        args="-param stone_4_description -urdf -model stone_4_6 -x -7 -y -20 -z 11"
    />

    <node
        name="spawn_urdf_4_7"
        pkg="gazebo_ros"
        type="spawn_model"
        args="-param stone_4_description -urdf -model stone_4_7 -x -27 -y 21 -z 11"
    />

    <node
        name="spawn_urdf_4_8"
        pkg="gazebo_ros"
        type="spawn_model"
        args="-param stone_4_description -urdf -model stone_4_8 -x -32 -y -26 -z 11"
    />

    <node
        name="spawn_urdf_4_9"
        pkg="gazebo_ros"
        type="spawn_model"
        args="-param stone_4_description -urdf -model stone_4_9 -x -3 -y -19 -z 11"
    />

</launch>
