<launch>
<!-- ROCKER -->
    <node name="dynamorec_rocker_l" pkg="rover_simulation" type="gazebo_joint_dynamometer_recorder" output="screen"
        args="dynamorec_rocker_l.txt /rover/joint_dynamometer/rocker_l_bearing_joint"/>

    <node name="dynamorec_rocker_r" pkg="rover_simulation" type="gazebo_joint_dynamometer_recorder" output="screen"
        args="dynamorec_rocker_r.txt /rover/joint_dynamometer/rocker_r_bearing_joint"/>

 <!-- BOGIE -->
    <node name="dynamorec_bogie_l" pkg="rover_simulation" type="gazebo_joint_dynamometer_recorder" output="screen"
        args="dynamorec_bogie_l.txt /rover/joint_dynamometer/bogie_l_bearing_joint"/>

    <node name="dynamorec_bogie_r" pkg="rover_simulation" type="gazebo_joint_dynamometer_recorder" output="screen"
        args="dynamorec_bogie_r.txt /rover/joint_dynamometer/bogie_r_bearing_joint"/>

 <!-- WHEELS -->
    <node name="dynamorec_wheel_fl" pkg="rover_simulation" type="gazebo_joint_dynamometer_recorder" output="screen"
        args="dynamorec_wheel_fl.txt /rover/joint_dynamometer/wheel_fl_joint"/>

    <node name="dynamorec_wheel_fr" pkg="rover_simulation" type="gazebo_joint_dynamometer_recorder" output="screen"
        args="dynamorec_wheel_fr.txt /rover/joint_dynamometer/wheel_fr_joint"/>


    <node name="dynamorec_wheel_ml" pkg="rover_simulation" type="gazebo_joint_dynamometer_recorder" output="screen"
        args="dynamorec_wheel_ml.txt /rover/joint_dynamometer/wheel_ml_joint"/>

    <node name="dynamorec_wheel_mr" pkg="rover_simulation" type="gazebo_joint_dynamometer_recorder" output="screen"
        args="dynamorec_wheel_mr.txt /rover/joint_dynamometer/wheel_mr_joint"/>


    <node name="dynamorec_wheel_bl" pkg="rover_simulation" type="gazebo_joint_dynamometer_recorder" output="screen"
        args="dynamorec_wheel_bl.txt /rover/joint_dynamometer/wheel_bl_joint"/>

    <node name="dynamorec_wheel_br" pkg="rover_simulation" type="gazebo_joint_dynamometer_recorder" output="screen"
        args="dynamorec_wheel_br.txt /rover/joint_dynamometer/wheel_br_joint"/>
</launch>
