<launch>
    <node
        name="web_video_server1"
        pkg="web_video_server"
        type="web_video_server"
        output="screen"
    >
    <remap from="/camera/image" to="/rover_camera1/image_raw"/>
    </node>

    <node
        name="web_video_server2"
        pkg="web_video_server"
        type="web_video_server"
        output="screen"
    >
    <remap from="/camera/image" to="/rover_camera2/image_raw"/>
    </node>

    <node
        name="web_video_server3"
        pkg="web_video_server"
        type="web_video_server"
        output="screen"
    >
    <remap from="/camera/image" to="/rover_camera3/image_raw"/>
    </node>

    <node
        name="web_video_server4"
        pkg="web_video_server"
        type="web_video_server"
        output="screen"
    >
    <remap from="/camera/image" to="/rover_camera4/image_raw"/>
    </node>
</launch>
