<launch>

        <node
            name="controller_server"
            pkg="rover_simulation"
            type="controller_server"
            output="screen"
            args="0 0 0 /rover/differential_pid"
        />
        <node
            name="rqt_plot_left"
            pkg="rqt_plot"
            type="rqt_plot"
            output="screen"
            args="/rover/differential_pid/error:force"
        />

        <node
            name="rqt_reconfigure"
            pkg="rqt_reconfigure"
            type="rqt_reconfigure"
            output="screen"
        />
</launch>
