<launch>
    <param
        name="home_descripiton"
        command="$(find xacro)/xacro --inorder $(find rover_meshes)/xacro/home0.xacro"
    />

    <node
        name="spawn_home_0"
        pkg="gazebo_ros"
        type="spawn_model"
        args="-param home_descripiton -urdf -model home_0 -x 10 -y 14"
    />

    <node
        name="spawn_home_1"
        pkg="gazebo_ros"
        type="spawn_model"
        args="-param home_descripiton -urdf -model home_1 -x -2 -y 17"
    />

</launch>
