<launch>

	<!-- Arguments -->
  <arg name="camera" default="/viso2"/>
  <param name="/use_sim_time" value="true"/>

  <node name="stereo_image_proc" pkg="stereo_image_proc" type="stereo_image_proc" output="screen" ns="/rover">
      <param name="~approximate_sync" value="True"/>

      <remap from="/rover/left/image_raw" to="/rover/camera1/image_raw" />
      <remap from="/rover/left/camera_info" to="/rover/camera1/camera_info" />

      <remap from="/rover/right/image_raw" to="/rover/camera2/image_raw" />
      <remap from="/rover/right/camera_info" to="/rover/camera2/camera_info"/>
  </node>


  <!-- Viso2 -->
  <node ns="rover" pkg="viso2_ros" type="stereo_odometer" name="stereo_odometer">

      <remap from="/rover/left/image_raw" to="/rover/camera1/image_raw" />
      <remap from="/rover/left/camera_info" to="/rover/camera1/camera_info" />

      <remap from="/rover/right/image_raw" to="/rover/camera2/image_raw" />
      <remap from="/rover/right/camera_info" to="/rover/camera2/camera_info"/>

    <remap from="stereo" to="$(arg camera)"/>
    <remap from="image" to="image_rect"/>
    <param name="base_link_frame_id" value="base_link"/>
  </node>

</launch>
